.main-card {
  max-width: 848px;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  padding: 35px;
  color: #222728;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.bottom-column {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#whole-value {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin: 0;
}

#decimal-value {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.02em;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #71757f;
}

h3 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #222728;
}

span {
  //   display: flex;
  //   align-items: end;
  //   padding-bottom: 1px;
}

.currency-card {
  margin-left: 10px;
  border: 1px solid rgba(224, 224, 224, 0.66);
  box-shadow: 0px 1px 1px rgba(220, 220, 220, 0.7);
  border-radius: 12px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#dropdown-button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 8px;
  margin-left: 10px;
}

#dropdown-button:hover {
  background-color: lightgrey;
}

#transfer-button {
  border: 0;
  background: #3f8fe2;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 24px;
  gap: 8px;
  color: white;
  width: 144px;
  height: 56px;
}

#transfer-button:hover {
  background: #3270b3;
}

#transfer-button img {
  width: 16.2px;
  height: 16.2px;
}

#account-statement-button {
  border: 0;
  margin-left: 20px;
  // padding: 18px 24px;
  // gap: 8px;
  width: 230px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #e6e7ea;
  box-shadow: 0px 1px 1px rgba(220, 220, 220, 0.7);
  border-radius: 12px;
}

#account-statement-button:hover {
  background: #e6e7ea;
}

#account-statement-button img {
  width: 16.2px;
  height: 16.2px;
  transform: translate(0, -3px);
}

p {
  margin: 0;
}

.info-row {
  margin-top: 30px;
}

.col-md-4 {
  margin-top: 20px;
}

.circular-button {
  padding: 6px;
  gap: 8px;
  width: 28px;
  height: 28px;
  background: #eeeff2;
  border-radius: 100px;
  border: 0;
  margin-left: 5px;
}

.circular-button:hover {
  background: #cacbcf;
}

.circular-button img {
  transform: translate(0, -5px);
}

#column2 {
  margin-right: 60px;
}

#column2 h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #71757f;
}

#column2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #23272f;
}
